ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E3E3E3;
  top: 0;
  position: fixed;
  width: 100%;
}
.active {
  background-color: #ACA9A9;
}
li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover {
  background-color: #ACA9A9;
}
main {
  text-align: center;
  padding-top: 50px;
}